@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&subset=japanese");
@import url("https://fonts.googleapis.com/css?family=Lora");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  .newsContent h1 {
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  .newsContent h2 {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
  }
  .newsContent h3 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6rem;
  }
  .newsContent div {
    font-size: 0.8rem;
    margin-top: 20px;
  }
  .newsContent img {
    width: 100%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;

  font-family: "Hiragino UD Sans Std", "HiraKakuProN-W3", "Noto Sans JP",
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .hidden-scrollbar {
    -ms-overflow-style: none; /* IE, Edge 対応 */
    scrollbar-width: none; /* Firefox 対応 */
  }
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari 対応 */
  }
}
